.juegoNumeros{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    flex-direction: column;
    padding: 5px;
}

.negrita{
    position: absolute;
    top: 20px;
    left: 10px;
    font-weight: 900;
    font-size: 22px;
    color: whitesmoke;
    text-align: center;
}

.memeMaker{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(106, 161, 70);
    flex-direction: column;
    padding: 5px;
}
.contenedor1{
    position:relative
}
img{
    margin-top: 20px;
}

