.waiting{
    position: relative;
    margin: auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-top: solid 4px red;
    border-right: solid 4px orange;
    border-bottom: solid 4px yellow;
    border-left: solid 4px green;
    animation: girar 1s infinite linear
}



@keyframes girar {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}